*.user
*.opensdf
*.sdf
*.dol
*.elf
Samples/Demo/build_wii_debug/
Samples/Demo/build_wii_release/
Samples/Game/build_wii_debug/
Samples/Game/build_wii_release/
Samples/Sample0/build_wii_debug/
Samples/Sample0/build_wii_release/
Samples/Sample1/build_wii_debug/
Samples/Sample1/build_wii_release/
Samples/Sample2/build_wii_debug/
Samples/Sample2/build_wii_release/
Samples/Sample3/build_wii_debug/
Samples/Sample3/build_wii_release/
Samples/Sample4/build_wii_debug/
Samples/Sample4/build_wii_release/
Samples/Sample5/build_wii_debug/
Samples/Sample5/build_wii_release/
Samples/Sample6/build_wii_debug/
Samples/Sample6/build_wii_release/
Samples/Sample7/build_wii_debug/
Samples/Sample7/build_wii_release/
Samples/Sample8/build_wii_debug/
Samples/Sample8/build_wii_release/
Samples/Sample10/build_wii_debug/
Samples/Sample10/build_wii_release/
Samples/Sample11/build_wii_debug/
Samples/Sample11/build_wii_release/
Samples/Sample9_WII/build_wii_debug/
Samples/Sample9_WII/build_wii_release/
Tools/Importer/build_wii_debug/
Tools/Importer/build_wii_release/
Tools/Importer/lib/
Wire/build_wii_debug/
Wire/build_wii_release/
*.suo
Wire/lib/
BuildLog.htm
Tools/freetype/*.o
Tools/freetype/ftmodule.h
Tools/freetype/libfreetype.a
Samples/Demo/build/
Samples/Game/build/
Samples/Sample0/build/
Samples/Sample1/build/
Samples/Sample2/build/
Samples/Sample3/build/
Samples/Sample4/build/
Samples/Sample5/build/
Samples/Sample6/build/
Samples/Sample7/build/
Samples/Sample8/build/
Samples/Sample10/build/
Samples/Sample11/build/
Samples/Sample9_WIN32/build/
Tools/Importer/build/
Tools/bullet-2.77/lib/
Wire/build/
*.pdb
*.ilk
Tools/freetype/objs/
Tools/bullet-2.77/msvc2010/BulletSoftBody/BulletSoftBody.dir/
Tools/bullet-2.77/msvc2010/LinearMath/LinearMath.dir/
Tools/bullet-2.77/msvc2010/BulletDynamics/BulletDynamics.dir/
Tools/bullet-2.77/msvc2010/BulletCollision/BulletCollision.dir/
Samples/Demo/Demo.exe
Samples/Demo/Demod.exe
Samples/Game/Game.exe
Samples/Game/Gamed.exe
Samples/Sample0/Sample0.exe
Samples/Sample0/Sample0d.exe
Samples/Sample1/Sample1.exe
Samples/Sample1/Sample1d.exe
Samples/Sample10/Sample10.exe
Samples/Sample10/Sample10d.exe
Samples/Sample11/Sample11.exe
Samples/Sample11/Sample11d.exe
Samples/Sample2/Sample2.exe
Samples/Sample2/Sample2d.exe
Samples/Sample3/Sample3.exe
Samples/Sample3/Sample3d.exe
Samples/Sample4/Sample4.exe
Samples/Sample4/Sample4d.exe
Samples/Sample5/Sample5.exe
Samples/Sample5/Sample5d.exe
Samples/Sample6/Sample6.exe
Samples/Sample6/Sample6d.exe
Samples/Sample7/Sample7.exe
Samples/Sample7/Sample7d.exe
Samples/Sample8/Sample8.exe
Samples/Sample8/Sample8d.exe
Samples/Sample9_WIN32/Sample9.exe
Samples/Sample9_WIN32/Sample9d.exe
Tools/bullet-2.77/msvc2005/BulletCollision/BulletCollision.dir/
Tools/bullet-2.77/msvc2005/BulletDynamics/BulletDynamics.dir/
Tools/bullet-2.77/msvc2005/BulletSoftBody/BulletSoftBody.dir/
Tools/bullet-2.77/msvc2005/LinearMath/LinearMath.dir/
*.ncb
