*.user
*.opensdf
*.sdf
*.dol
*.elf
Samples/Demo/build_wii_debug/
Samples/Demo/build_wii_release/
Samples/Game/build_wii_debug/
Samples/Game/build_wii_release/
Samples/Sample0/build_wii_debug/
Samples/Sample0/build_wii_release/
Samples/Sample1/build_wii_debug/
Samples/Sample1/build_wii_release/
Samples/Sample2/build_wii_debug/
Samples/Sample2/build_wii_release/
Samples/Sample3/build_wii_debug/
Samples/Sample3/build_wii_release/
Samples/Sample4/build_wii_debug/
Samples/Sample4/build_wii_release/
Samples/Sample5/build_wii_debug/
Samples/Sample5/build_wii_release/
Samples/Sample6/build_wii_debug/
Samples/Sample6/build_wii_release/
Samples/Sample7/build_wii_debug/
Samples/Sample7/build_wii_release/
Samples/Sample8/build_wii_debug/
Samples/Sample8/build_wii_release/
Samples/Sample10/build_wii_debug/
Samples/Sample10/build_wii_release/
Samples/Sample11/build_wii_debug/
Samples/Sample11/build_wii_release/
Samples/Sample9_WII/build_wii_debug/
Samples/Sample9_WII/build_wii_release/
Tools/Importer/build_wii_debug/
Tools/Importer/build_wii_release/
Tools/Importer/lib/
Wire/build_wii_debug/
Wire/build_wii_release/
*.suo
Wire/lib/
BuildLog.htm
Tools/freetype/*.o
Tools/freetype/ftmodule.h
Tools/freetype/libfreetype.a
